body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eedfdf;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eed1d1;
    padding: 10px 20px;
}

.navbar-icon img {
    height: 40px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.main {
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-top: 20px;
    font-size: 2.5em;
    text-align: center; /* Center align the header */
    color: #710303;
}

.performances {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.performance-box {
    width: 45%;
    background-color: #cdbebe;
    border-radius: 44px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.performance-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.performance-box img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

footer {
    background-color: #eed1d1;
    color: black;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.social-icons img {
    height: 40px;
}

