* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #1c8d97;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #a7d7db;
}

nav .logo img {
    height: 50px;
}

nav .nav-links {
    display: flex;
    gap: 15px;
}

nav .nav-links a {
    color: rgb(3, 2, 2);
    text-decoration: none;
}

#Home{
    color: white;
}
#Awards{
    color: rgb(255, 203, 16);
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.awards {
    background-color: #00677d;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.award-list {
    background-color: #35a3a4;
    border-radius: 10px;
    padding: 10px;
}

.award {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.award:not(:last-child) {
    border-bottom: 1px solid #0093a1;
}

.year {
    width: 20%;
}

.event {
    width: 60%;
}

.position {
    width: 20%;
}

footer {
    background-color: #c2f4ff;
    padding: 20px;
    text-align: center;
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer .social-links img {
    height: 30px;
}

@media (max-width: 600px) {
    .award {
        flex-direction: column;
        align-items: flex-start;
    }

    .year, .event, .position {
        width: 100%;
    }
}
